/*Barra do utilizadores */
.barra_utilizadores{
    margin: 0px; 
    padding: 20px; 
    text-align: right; 
    background-color: burlywood;
    color: black; 
    a{
        text-decoration: none; 
        color: rgb(0, 0, 0);
        background-color: white;
    }
    a:hover{
        color:rgb(194, 194, 194);
        background-color: rgb(95, 95, 95);
    }
}

.barra_utilizadores_inativo{
    color: black; 

}

.barra_utilizadores_ativo{
    color: red; 
    
}