/*Barra do utilizadores */
.barra_utilizadores{
    margin: 0px; 
    padding: 20px; 
    text-align: right; 
    background-color: burlywood;
    color: black; 

}

.barra_utilizadores_inativo{
    color: black; 

}

.barra_utilizadores_ativo{
    color: red; 
    
}